.employees{
    display: flex;
    justify-content: space-between;
}
p{
    margin: 0;
    padding: 0;
}
table{
    border-collapse: collapse;
    justify-content: space-between;

}
th,td{
   border: 1px solid white ;
   object-fit: cover;
   padding: 5px;
}